<template>
  <v-container fluid>
    <v-card>
      <v-card-title class="justify-center">
        <h2>Modbrary {{ version }}</h2>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="text-center">
        <div class="d-flex justify-center">Made with ❤️ by Ady</div>
        <div class="d-flex justify-center">
          <span>Project and support on <a :href="link">GitLab</a></span>&nbsp;<img :src="logo" width="20" alt=""/>
        </div>
        <div class="mt-2">
          <v-btn @click="checkUpdate" class="mb-2">Check for update</v-btn>
          <p v-if="undefined === isUpToDate"
             class="bg-warning rounded"
          >
            Unable to check updates.
          </p>
          <p v-else-if="false === isUpToDate"
             class="bg-error rounded"
          >
            Your app is out-of-date. Please download the latest version and update the app.
          </p>
          <p v-else-if="true === isUpToDate"
             class="bg-success rounded"
          >
            Your app is up-to-date.
          </p>
          <v-btn
            v-if="false === isUpToDate"
            :icon="mdiOpenInNew"
            @click="goToDownload"
          ></v-btn>
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import logo from '@/assets/gitlab.png'
import {mdiOpenInNew} from "@mdi/js";

export default {
  name: "AboutView",
  data: () => ({
    version: 0,
    logo: logo,
    link: 'https://gitlab.com/adynemo/modbrary',
    isUpToDate: null,
    mdiOpenInNew: mdiOpenInNew
  }),
  created() {
    this.$emit('title', 'About');
    window.ipcRenderer.on('app:version', (event, arg) => {
      this.version = arg;
    });
    window.ipcRenderer.on('app:check-update', (event, arg) => {
      this.isUpToDate = arg;
    });
    window.ipcRenderer.send('app:version');
  },
  unmounted() {
    window.ipcRenderer.off('app:version');
    window.ipcRenderer.off('app:check-update');
    window.ipcRenderer.off('app:download-update');
  },
  methods: {
    checkUpdate() {
      window.ipcRenderer.send('app:check-update');
    },
    goToDownload() {
      window.ipcRenderer.send('app:download-update');
    }
  }
}
</script>

<style scoped lang="scss">
a {
  color: unset;
}
</style>
