<template>
  <v-container fluid id="categories-view" v-if="!creator">
    <v-banner single-line>
      <v-chip label :prepend-icon="icons.mdiArchiveOutline">
        {{ categories.length }} categories
      </v-chip>
      <template v-slot:actions>
        <v-btn
            size="x-small"
            :icon="icons.mdiPlus"
            color="green"
            title="Add"
            variant="outlined"
            @click="creator = true"
        ></v-btn>
        <v-btn
            size="x-small"
            :icon="icons.mdiSync"
            color="teal"
            title="Auto-add"
            variant="outlined"
            @click="autoAdd"
        ></v-btn>
      </template>
    </v-banner>
    <v-table density="compact" fixed-header>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-left" v-for="th in thead" :key="th">
            {{ th }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="category in displayedCats"
            :key="category.uid"
        >
          <td>{{ category.name }}</td>
          <td>{{ countMods(category.uid) }}</td>
        </tr>
        </tbody>
      </template>
    </v-table>
    <table-pagination
        :length="categories.length"
        :packet="packet"
        :page="page"
        @update:model-value="newPage => page = newPage"
    />
  </v-container>
  <category-create v-else @close="closeCreator"/>
</template>

<script>
import CategoryCreate from "../components/CategoryCreate";
import { mdiArchiveOutline, mdiPlus, mdiSync } from '@mdi/js';
import TablePagination from "../components/TablePagination";

export default {
  name: 'CategoriesView',
  components: {TablePagination, CategoryCreate},
  data () {
    return {
      creator: false,
      categories: [],
      mods: [],
      thead: ['Name', 'Mods'],
      packet: 12,
      page: 1,
      form: {
        name: '',
      },
      icons: {
        mdiArchiveOutline,
        mdiPlus,
        mdiSync,
      }
    }
  },
  computed: {
    formIsValid () {
      return !!this.form.path
    },
    displayedCats() {
      return this.categories.slice((this.page-1)*this.packet, this.packet*this.page);
    },
  },
  mounted() {
    this.$emit('title', 'Categories');
    window.ipcRenderer.on('categories:fetch', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Fetching categories fails!'});
        return;
      }
      this.categories = arg.data;
    });
    window.ipcRenderer.on('mods:fetch-all', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Fetching mods fails!'});
        return;
      }
      this.mods = arg.data.mods;
    });
    window.ipcRenderer.on('categories:auto-add', () => {
      window.ipcRenderer.send('categories:fetch');
    });
    window.ipcRenderer.send('categories:fetch');
    window.ipcRenderer.send('mods:fetch-all');
  },
  unmounted() {
    window.ipcRenderer.off('categories:fetch');
    window.ipcRenderer.off('categories:auto-add');
    window.ipcRenderer.off('mods:fetch-all');
  },
  methods: {
    closeCreator(category) {
      if (category) {
        this.categories.push(category);
      }
      this.creator = false;
    },
    countMods(catUid) {
      return this.mods.filter(mod => mod.category === catUid)?.length || 0;
    },
    autoAdd() {
      window.ipcRenderer.send('categories:auto-add');
    }
  }
};
</script>

<style scoped lang="scss">
#settings-view {
  min-height: 100%;
  #alert {
    position: fixed;
    bottom: 5px;
    width: 88%;
  }
}
</style>
