<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
            :src="logo"
            class="my-3"
            contain
            height="200"
        />
      </v-col>
      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Welcome to Modbrary
        </h1>
        <v-card class="mx-auto">
          <v-card-text>
            <v-row>
              <v-col cols="6">
                <div>Total of mods on disk</div>
                <div class="text--primary">
                  <v-btn
                      disabled
                      variant="outlined"
                      icon
                      class="ma-2"
                      color="pink"
                  >
                    {{ countOnDisk }}
                  </v-btn>
                </div>
              </v-col>
              <v-col cols="6">
                <div>Total of mods in database</div>
                <div class="text--primary">
                  <v-btn
                      disabled
                      variant="outlined"
                      icon
                      class="ma-2"
                      color="pink"
                  >
                    {{ countInDB }}
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog">
      <v-card>
        <v-card-header class="justify-center">
          <h3>🎉 Welcome to Modbrary! 🎉</h3>
        </v-card-header>
        <v-card-text>
          <p>First step, go to the settings form to give me your mods path.</p>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" block @click="$router.push('Settings')">Go!</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import logo from '@/assets/modbrary.png'

let updateChecked = false;

export default {
  name: 'HomeView',
  data: () => ({
    logo: logo,
    countOnDisk: 0,
    diskLoading: true,
    countInDB: 0,
    DBLoading: true,
    dialog: false,
  }),
  computed: {
    loading() {
      return this.diskLoading || this.DBLoading;
    }
  },
  beforeCreate() {
    this.$emit('app:loading', true);
    window.ipcRenderer.on('settings:fetch', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Fetching settings fails!'});
        return;
      }

      if (!arg.data.modsPath) {
        this.dialog = true;
        return;
      }

      if (arg.data.theme) {
        this.$emit('app:theme', arg.data.theme);
      }

      window.ipcRenderer.send('mods:tree');
      window.ipcRenderer.send('mods:fetch-all');
      window.ipcRenderer.on('mods:tree', (event, arg) => {
        if (!arg.success) {
          this.$store.dispatch('snackbar/display', {type: 'error', message: 'Fetching mods tree fails!'});
        } else {
          this.countOnDisk = arg.data.length;
        }
        this.diskLoading = false;
        this.$emit('app:loading', this.loading);
      });
      window.ipcRenderer.on('mods:fetch-all', (event, arg) => {
        if (!arg.success) {
          this.$store.dispatch('snackbar/display', {type: 'error', message: 'Fetching mods fails!'});
        } else {
          this.countInDB = arg.data.mods.length;
        }
        this.DBLoading = false;
        this.$emit('app:loading', this.loading);
      });
    });
    window.ipcRenderer.send('settings:fetch');
    if (!updateChecked) {
      window.ipcRenderer.on('app:check-update', (event, arg) => {
        if (!arg) {
          this.$store.dispatch('snackbar/display', {
            type: 'info',
            message: 'A new version of Modbrary is available',
            link: 'About',
            closable: true
          });
        }
        window.ipcRenderer.off('app:check-update');
        updateChecked = true;
      });
      window.ipcRenderer.send('app:check-update');
    }
  },
  mounted() {
    this.$emit('title', 'Home');
  },
  unmounted() {
    window.ipcRenderer.off('mods:tree');
    window.ipcRenderer.off('mods:fetch-all');
    window.ipcRenderer.off('settings:fetch');
  },
}
</script>
