<template>
  <v-fade-transition>
    <v-container fluid id="library-view" v-show="!editor">
      <v-banner lines="one">
        <v-chip label :prepend-icon="icons.mdiPackageVariant">
          {{ mods.length || progress.count || 0 }} mods
        </v-chip>
        <v-chip
            label
            class="ml-2 fit-content"
            @click="openFilters = !openFilters"
        >
          Filters
        </v-chip>
        <template v-slot:actions>
          <v-btn
              v-if="false === isSync"
              size="x-small"
              :icon="icons.mdiSync"
              color="green"
              title="Resync"
              variant="outlined"
              @click="sync()"
          ></v-btn>
          <v-progress-circular
              v-else-if="null === isSync"
              indeterminate
              color="primary"
          ></v-progress-circular>
          <v-btn
              v-else
              disabled
              size="x-small"
              :icon="icons.mdiCheck"
              color="green"
              variant="outlined"
          ></v-btn>
        </template>
      </v-banner>
      <v-row v-show="openFilters" id="filters-container">
        <v-col cols="4">
          <v-text-field class="text-filter" label="Search" v-model="search.text" hide-details></v-text-field>
        </v-col>
        <v-col cols="4">
          <v-select
              v-model="search.cat"
              :items="catsItems"
              label="Category"
              hide-details
              clearable
          ></v-select>
        </v-col>
        <v-col cols="4">
          <v-select
              v-model="search.tag"
              :items="tagsItems"
              label="Tags"
              hide-details
              clearable
          ></v-select>
        </v-col>
      </v-row>
      <v-table fixed-header>
        <template v-slot:default>
          <thead>
          <tr>
            <th class="text-center" v-for="th in thead" :key="th">
              {{ th }}
              <span v-if="sortingFields.includes(th)">
              &nbsp;<v-icon :icon="getSortingIcon(th)" @click="setSort(th)"></v-icon>
              </span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr
              v-for="mod in displayedMods"
              :key="mod.uid"
          >
            <td>
              <v-img v-if="mod.base64" :src="mod.base64" @click="openDialog(mod, 'show')"></v-img>
              <v-icon v-else :icon="icons.mdiImage" />
            </td>
            <td>{{ mod.name }}</td>
            <td>
              <v-chip
                  v-if="mod.category"
                  class="ma-2"
                  label
                  size="x-small"
                  :prepend-icon="icons.mdiArchive"
              >
                {{ getCategoryName(mod.category) }}
              </v-chip>
            </td>
            <td>
              <v-chip
                  v-for="tag in mod.tags"
                  :key="tag"
                  size="x-small"
              >
                {{ getTagName(tag) }}
              </v-chip>
            </td>
            <td>{{ mod.filename }}</td>
            <td>{{ formatSize(mod) }}</td>
            <td>
              <v-btn
                  size="x-small"
                  :icon="icons.mdiPen"
                  color="text"
                  title="Edit"
                  variant="outlined"
                  @click="edit(mod)"
              ></v-btn>
              <v-btn
                  size="x-small"
                  :icon="icons.mdiTrashCanOutline"
                  color="error"
                  title="Delete"
                  variant="outlined"
                  @click="openDialog(mod, 'delete')"
              ></v-btn>
              <v-btn
                  size="x-small"
                  :icon="icons.mdiOpenInNew"
                  color="secondary"
                  title="Show file"
                  variant="outlined"
                  @click="showFile(mod)"
              ></v-btn>
              <v-btn
                  size="x-small"
                  :icon="icons.mdiSearchWeb"
                  color="info"
                  title="Search on web"
                  variant="outlined"
                  @click="launchSearch(mod)"
              ></v-btn>
            </td>
          </tr>
          </tbody>
        </template>
      </v-table>
      <v-pagination
          v-if="mods.length > packet"
          v-model="page"
          :length="pageLength"
          :total-visible="7 < mods.length/packet ? 7 : null"
          :prev-icon="icons.mdiMenuLeft"
          :next-icon="icons.mdiMenuRight"
      ></v-pagination>
      <v-overlay :model-value="loading" class="align-center justify-center">
        <v-progress-circular
            indeterminate
            size="128"
            color="info"
        >
          {{ progress.count }} / {{ progress.total }}
        </v-progress-circular>
      </v-overlay>
    </v-container>
  </v-fade-transition>
  <v-fade-transition>
    <mod-edit
        v-show="editor"
        :mod="editable"
        @close="closeEditor"
    />
  </v-fade-transition>
  <v-dialog v-model="dialogMod.delete">
    <v-card>
      <v-card-title v-if="dialogMod.mod">{{ dialogMod.mod.name }}</v-card-title>
      <v-card-text>
        Do you really want to delete this mod?
      </v-card-text>
      <v-card-actions>
        <v-btn color="info" autofocus @click="closeDialog">Cancel</v-btn>
        <v-btn color="error" @click="remove">Delete</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog v-model="dialogMod.show">
    <v-card>
      <v-img :src="dialogMod.mod.base64"></v-img>
      <v-card-title v-if="dialogMod.mod">{{ dialogMod.mod.name }}</v-card-title>
    </v-card>
  </v-dialog>
</template>

<script>
import ModEdit from "../components/ModEdit";
import {
  mdiPackageVariant,
  mdiPlus,
  mdiMenuLeft,
  mdiMenuRight,
  mdiSync,
  mdiCheck,
  mdiImage,
  mdiClose,
  mdiTrashCanOutline,
  mdiPen,
  mdiArchive,
  mdiOpenInNew,
  mdiSearchWeb,
  mdiSort,
  mdiSortAscending,
  mdiSortDescending
} from '@mdi/js';
import {formatBytes} from "../utils/easyUtils";

export default {
  name: "LibraryView",
  components: {ModEdit},
  emits: ['title', 'app:loading', 'app:theme'],
  data: () => ({
    thead: ['Cover', 'Name', 'Category', 'Tags', 'Filename', 'Size', 'Actions'],
    sortingFields: ['Name', 'Filename', 'Size'],
    sortedField: {
      field: null,
      sort: 0,
    },
    sortStates: {
      0: null,
      1: 'desc',
      2: 'asc',
    },
    sortIcons: {
      0: mdiSort,
      1: mdiSortDescending,
      2: mdiSortAscending,
    },
    mods: [],
    originalMods: [],
    categories: [],
    catsItems: [],
    tags: [],
    tagsItems: [],
    page: 1,
    packet: 10,
    pageLength: 0,
    editor: false,
    editable: undefined,
    isSync: false,
    dialogMod: {
      show: false,
      delete: false,
      mod: undefined
    },
    loading: false,
    progress: {
      count: 0,
      total: 0,
    },
    openFilters: false,
    search: {
      text: '',
      cat: '',
      tag: '',
    },
    icons: {
      mdiPackageVariant,
      mdiPlus,
      mdiMenuLeft,
      mdiMenuRight,
      mdiSync,
      mdiCheck,
      mdiImage,
      mdiClose,
      mdiTrashCanOutline,
      mdiPen,
      mdiArchive,
      mdiOpenInNew,
      mdiSearchWeb,
    },
  }),
  computed: {
    displayedMods() {
      let mods = (0 < this.sortedField.sort) ? this.mods : this.originalMods;
      if (this.search.cat) {
        mods = mods.filter(mod => {
          const cat = this.categories.find(cat => cat.name === this.search.cat);
          return cat ? mod.category === cat.uid : false;
        });
      }
      if (this.search.tag) {
        mods = mods.filter(mod => {
          const tag = this.tags.find(tag => tag.name === this.search.tag);
          return tag ? mod.tags.includes(tag.uid) : false;
        });
      }
      if (2 < this.search.text.length) {
        const query = new RegExp(this.search.text, "ig");
        mods = mods.filter(mod => query.test(mod.name) || query.test(mod.filename));
      }
      if (
          null !== this.sortedField.field &&
          0 < this.sortedField.sort &&
          this.sortingFields.includes(this.sortedField.field)
      ) {
        const sort = (1 === this.sortedField.sort) ? this.descSort : this.ascSort;
        mods.sort(sort);
      }

      this.setPageLength(Math.ceil(mods.length/this.packet));
      return mods.slice((this.page-1)*this.packet, this.packet*this.page);
    },
  },
  watch: {
    'dialog.show'(val) {
      if (!val) {
        this.closeDialog();
      }
    }
  },
  mounted() {
    this.$emit('title', 'Library');
    this.$emit('app:loading', true);
    window.ipcRenderer.on('mods:fetch-all', (event, arg) => {
      if (!arg.success) {
        this.$emit('app:loading', false);
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Fetching mods fails!'});
        return;
      }
      this.mods = arg.data.mods;
      this.originalMods = arg.data.mods;
      window.ipcRenderer.send('mods:fetch-image', {mods: arg.data.mods});
    });
    window.ipcRenderer.on('mods:fetch-image', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'warning', message: 'Fetching images failed!'});
      }
      this.mods = arg.data.mods;
      this.loading = false;
      this.$emit('app:loading', false);
    });
    window.ipcRenderer.on('categories:fetch', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'warning', message: 'Fetching categories failed!'});
        return;
      }
      this.categories = arg.data;
      const categories = [];
      arg.data.forEach(cat => {
        categories.push(cat.name);
      })
      this.catsItems = categories;
    });
    window.ipcRenderer.on('tags:fetch', (event, arg) => {
      if (arg.success) {
        this.tags = arg.data;
        const tags = [];
        arg.data.forEach(tag => {
          tags.push(tag.name);
        })
        this.tagsItems = tags;
      }
    });
    window.ipcRenderer.on('mod:delete', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Unable to delete mod'});
        this.$emit('app:loading', false);
        return;
      }
      const i = this.mods.findIndex(value => value.uid === this.dialogMod.mod.uid);
      this.mods.splice(i, 1);
      this.closeDialog();
      this.$store.dispatch('snackbar/display', {type: 'success', message: 'Mod deleted successfully!'});
      this.$emit('app:loading', false);
    });
    window.ipcRenderer.send('mods:fetch-all');
    window.ipcRenderer.send('categories:fetch');
    window.ipcRenderer.send('tags:fetch');
  },
  unmounted() {
    window.ipcRenderer.off('mods:fetch-all');
    window.ipcRenderer.off('categories:fetch');
    window.ipcRenderer.off('tags:fetch');
    window.ipcRenderer.off('mods:fetch-image');
    window.ipcRenderer.off('mods:sync');
    window.ipcRenderer.off('mods:sync-progress');
    window.ipcRenderer.off('mod:delete');
  },
  methods: {
    sync() {
      this.loading = true;
      this.isSync = null;
      window.ipcRenderer.on('mods:sync', (event, arg) => {
        if (!arg.success) {
          this.isSync = false;
          this.$store.dispatch('snackbar/display', {type: 'error', message: 'Mods fail to sync'});
          this.loading = false;
          return;
        }
        this.isSync = true;
        const message = `${this.progress.count} mods synchronized! 🎉`;
        this.$store.dispatch('snackbar/display', {type: 'success', message});
        new Notification('Modbrary | Sync', {body: message})
        this.progress = {
          count: 0,
          total: 0
        };
        window.ipcRenderer.send('mods:fetch-all');
        setTimeout(() => {
          this.isSync = false;
        }, 5000)
      });
      window.ipcRenderer.on('mods:sync-progress', (event, arg) => {
        this.progress = arg;
      });
      window.ipcRenderer.send('mods:sync');
    },
    edit(mod) {
      this.editable = mod;
      this.editor = true;
    },
    closeEditor(mod) {
      if (mod) {
        this.editable.name = mod.name;
        this.editable.category = mod.category;
        this.editable.tags = mod.tags;
        this.editable.image = mod.image;
        this.editable.base64 = mod.base64;
      }
      this.editable = undefined;
      this.editor = false;
    },
    getCategoryName(cat) {
      const category = this.categories.find(category => category.uid === cat);
      if (category) {
        return category.name;
      }
    },
    getTagName(cat) {
      const tag = this.tags.find(tag => tag.uid === cat);
      if (tag) {
        return tag.name;
      }
    },
    closeDialog() {
      this.dialogMod = {
        show: false,
        delete: false,
        mod: undefined
      }
    },
    openDialog(mod, type) {
      this.dialogMod = {
        show: 'show' === type,
        delete: 'delete' === type,
        mod: mod
      }
    },
    remove() {
      if (this.dialogMod.delete) {
        this.$emit('app:loading', true);
        const tags = [...this.dialogMod.mod.tags];
        const mod = {...this.dialogMod.mod};
        mod.tags = tags;
        window.ipcRenderer.send('mod:delete', mod);
      }
    },
    setPageLength(val) {
      this.pageLength = val;
    },
    showFile(mod) {
      window.ipcRenderer.send('mod:show-file', {path: mod.path});
    },
    launchSearch(mod) {
      window.ipcRenderer.send('web-search:mod', {name: mod.name});
    },
    formatSize(mod) {
      return formatBytes(mod.size || 0);
    },
    setSort(th) {
      if (!this.sortingFields.includes(th)) return;
      if (null !== this.sortedField.field && th !== this.sortedField.field) this.sortedField.sort = 0;
      (2 > this.sortedField.sort) ? this.sortedField.sort++ : this.sortedField.sort = 0;
      this.sortedField.field = (0 === this.sortedField.sort) ? null : th;
    },
    getSortingIcon(field) {
      return (this.sortedField.field === field) ? this.sortIcons[this.sortedField.sort] : this.sortIcons[0];
    },
    descSort(a, b) {
      const prop = this.sortedField.field.toLowerCase();
      if (b[prop] < a[prop]) {
        return -1;
      }
      if (b[prop] > a[prop]) {
        return 1;
      }
      return 0;
    },
    ascSort(a, b) {
      const prop = this.sortedField.field.toLowerCase();
      if (b[prop] > a[prop]) {
        return -1;
      }
      if (b[prop] < a[prop]) {
        return 1;
      }
      return 0;
    }
  }
}
</script>

<style lang="scss">
.fit-content {
  width: fit-content;
}
#filters-container {
  display: flex;
  align-items: center;
}
</style>
