<template>
  <v-container fluid id="settings-view">
    <v-form ref="form" @submit.prevent="submit(form)">
      <v-row>
        <v-col cols="12">
          <small>The full path to your mods directory</small>
          <v-text-field label="Path" v-model="form.modsPath"></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <small>Theme</small>
          <v-radio-group v-model="form.theme">
            <v-radio label="Light" value="light"></v-radio>
            <v-radio label="Dark" value="dark"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <small>Search engine</small>
          <v-radio-group v-model="form.search">
            <v-radio label="DuckDuckGo" value="ddg"></v-radio>
            <v-radio label="Google" value="google"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <small>If you change this value, you must reload the app</small>
          <v-switch
              v-model="form.debug"
              label="Debug mode"
          ></v-switch>
        </v-col>
      </v-row>
      <v-row class="justify-end">
        <v-col cols="2">
          <v-btn
              :disabled="!formIsValid"
              text
              color="success"
              type="submit"
          >
            Submit
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
export default {
  name: 'SettingsView',
  data () {
    return {
      form: {
        modsPath: '',
        theme: '',
        search: '',
        debug: false,
      },
    }
  },
  computed: {
    formIsValid () {
      return !!this.form.modsPath
    },
  },
  created() {
    window.ipcRenderer.on('settings:fetch', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Fetching settings fails!'});
        return;
      }
      this.form.modsPath = arg.data.modsPath || '';
      this.form.theme = arg.data.theme || '';
      this.form.search = arg.data.search || '';
      this.form.debug = arg.data.debug || false;
    });
    window.ipcRenderer.on('settings:save', (event, arg) => {
      const type = arg.success ? 'success' : 'error';
      this.$store.dispatch('snackbar/display', {type, message: 'Settings saved successfully! 🎉'});
      this.$emit('app:theme', this.form.theme);
    });
    window.ipcRenderer.send('settings:fetch');
  },
  mounted() {
    this.$emit('title', 'Settings');
  },
  unmounted() {
    window.ipcRenderer.off('settings:fetch');
    window.ipcRenderer.off('settings:save');
  },
  methods: {
    submit(form) {
      const data = {...form};
      window.ipcRenderer.send('settings:save', data);
    },
  }
};
</script>

<style scoped lang="scss">
#settings-view {
  min-height: 100%;
}
</style>
