<template>
  <v-container fluid id="tags-view" v-if="!creator">
    <v-banner single-line>
      <v-chip label :prepend-icon="icons.mdiTagOutline">
        {{ tags.length }} tags
      </v-chip>
      <template v-slot:actions>
        <v-btn
            size="x-small"
            :icon="icons.mdiPlus"
            color="green"
            title="Add"
            variant="outlined"
            @click="creator = true"
        ></v-btn>
      </template>
    </v-banner>
    <v-table density="compact" fixed-header>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-left" v-for="th in thead" :key="th">
            {{ th }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="tag in displayedTags"
            :key="tag.uid"
        >
          <td>{{ tag.name }}</td>
          <td>{{ countMods(tag.uid) }}</td>
        </tr>
        </tbody>
      </template>
    </v-table>
    <table-pagination
      :length="tags.length"
      :packet="packet"
      :page="page"
      @update:model-value="newPage => page = newPage"
    />
  </v-container>
  <tag-create v-else @close="closeCreator"/>
</template>

<script>
import TagCreate from "../components/TagCreate";
import TablePagination from "../components/TablePagination";
import { mdiTagOutline, mdiPlus } from '@mdi/js';

export default {
  name: 'CategoriesView',
  components: {TagCreate, TablePagination},
  data () {
    return {
      creator: false,
      tags: [],
      mods: [],
      thead: ['Name', 'Mods'],
      packet: 12,
      page: 1,
      form: {
        name: '',
      },
      icons: {
        mdiTagOutline,
        mdiPlus,
      }
    }
  },
  computed: {
    formIsValid () {
      return !!this.form.path
    },
    displayedTags() {
      return this.tags.slice((this.page-1)*this.packet, this.packet*this.page);
    },
  },
  mounted() {
    this.$emit('title', 'Tags');
    window.ipcRenderer.on('tags:fetch', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Fetching tags fails!'});
        return;
      }
      this.tags = arg.data;
    });
    window.ipcRenderer.on('mods:fetch-all', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Fetching mods fails!'});
        return;
      }
      this.mods = arg.data.mods;
    });
    window.ipcRenderer.send('tags:fetch');
    window.ipcRenderer.send('mods:fetch-all');
  },
  unmounted() {
    window.ipcRenderer.off('tags:fetch');
    window.ipcRenderer.off('mods:fetch-all');
  },
  methods: {
    closeCreator(tag) {
      if (tag) {
        this.tags.push(tag);
      }
      this.creator = false;
    },
    countMods(tagUid) {
      return this.mods.filter(mod => mod.tags.includes(tagUid))?.length || 0;
    }
  }
};
</script>

<style scoped lang="scss">
#settings-view {
  min-height: 100%;
  #alert {
    position: fixed;
    bottom: 5px;
    width: 88%;
  }
}
</style>
