<template>
  <v-fade-transition>
    <v-container fluid id="transfer-view" v-show="!editor">
      <v-card>
        <v-card-text>
          <v-form ref="form">
            <v-row>
              <v-col cols="12">
                <small>Write the path to analyzed and click on the sync button</small>
                <v-text-field label="Path"
                              v-model="path"
                              hide-details
                              :append-icon="icons.mdiDownload"
                              @click:append="clickFolderPicker"
                ></v-text-field>
                <div id="folder-picker-container">
                <v-file-input id="folder-picker"
                              label="picker"
                              v-model="file"
                              @change="selectPath"
                              webkitdirectory
                              directory
                              :multiple="false"
                ></v-file-input>
                </div>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
      <v-banner lines="one">
        <div>
          <v-chip label :prepend-icon="icons.mdiPackageVariant">
            {{ mods.length || progress.count || 0 }} mods
          </v-chip>
          <v-chip label :prepend-icon="icons.mdiPackage" class="ml-2 fit-content">
            {{ selectedModsCount }} selected mods
          </v-chip>
        </div>
        <v-chip
            label
            class="ml-2 fit-content"
            @click="openFilters = !openFilters"
        >
          Filters
        </v-chip>
        <template v-slot:actions>
          <v-btn
              :disabled="!path"
              size="x-small"
              :icon="icons.mdiSync"
              color="green"
              title="Sync"
              variant="outlined"
              @click="sync()"
          ></v-btn>
          <v-btn
              :disabled="!transferAllowed"
              size="x-small"
              :icon="icons.mdiDownloadBoxOutline"
              color="blue"
              title="Transfer"
              variant="outlined"
              @click="transfer()"
          ></v-btn>
          <v-btn
              size="x-small"
              :icon="icons.mdiTrashCanOutline"
              color="orange"
              title="Reset"
              variant="outlined"
              @click="reset()"
          ></v-btn>
        </template>
      </v-banner>
      <v-row v-show="openFilters" id="filters-container">
        <v-col cols="4">
          <v-text-field class="text-filter" label="Search" v-model="search.text" hide-details></v-text-field>
        </v-col>
        <v-col cols="1">
          <v-chip
              size="small"
              :prepend-icon="icons.mdiContentDuplicate"
              :color="!search.duplicated ? 'orange' : 'grey'"
              variant="outlined"
              @click="search.duplicated = !search.duplicated"
          >Duplicated</v-chip>
        </v-col>
        <v-col cols="1">
          <v-chip
              :disabled="!mods.length"
              size="small"
              :prepend-icon="icons.mdiSelectAll"
              color="teal"
              variant="outlined"
              @click="toggleAll()"
          >{{ isAllSelected ? 'Unselect all' : 'Select all' }}</v-chip>
        </v-col>
      </v-row>
      <v-table fixed-header>
        <template v-slot:default>
          <thead>
          <tr>
            <th class="text-center" v-for="th in thead" :key="th">
              {{ th }}
              <span v-if="sortingFields.includes(th)">
              &nbsp;<v-icon :icon="getSortingIcon(th)" @click="setSort(th)"></v-icon>
              </span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="mod in displayedMods" :key="mod.uid">
            <td>
              <v-img v-if="mod.base64" :src="mod.base64" @click="openDialog(mod, 'show')"></v-img>
              <v-icon v-else :icon="icons.mdiImage" />
            </td>
            <td>{{ mod.name }}</td>
            <td>
              <v-chip
                  v-if="mod.category"
                  class="ma-2"
                  label
                  size="x-small"
                  :prepend-icon="icons.mdiArchive"
              >
                {{ getCategoryName(mod.category) }}
              </v-chip>
            </td>
            <td>{{ mod.filename }}</td>
            <td>{{ formatSize(mod) }}</td>
            <td>
              <v-chip
                  v-if="2 === mod.isDuplicated"
                  size="x-small"
                  color="red"
                  variant="outlined"
                  title="?"
                  @click="openDialog(info.duplicated, 'info')"
              >
                Duplicated
              </v-chip>
              <v-chip
                  v-else-if="1 === mod.isDuplicated"
                  size="x-small"
                  color="orange"
                  variant="outlined"
                  title="?"
                  @click="openDialog(info.probably, 'info')"
              >
                Probably
              </v-chip>
            </td>
            <td>
              <v-btn
                  size="x-small"
                  :icon="icons.mdiPen"
                  color="text"
                  title="Edit"
                  variant="outlined"
                  @click="edit(mod)"
              ></v-btn>
              <v-btn
                  size="x-small"
                  :icon="icons.mdiOpenInNew"
                  color="secondary"
                  title="Show file"
                  variant="outlined"
                  @click="showFile(mod)"
              ></v-btn>
              <v-btn
                  size="x-small"
                  :icon="icons.mdiSearchWeb"
                  color="info"
                  title="Search on web"
                  variant="outlined"
                  @click="launchSearch(mod)"
              ></v-btn>
            </td>
            <td>
              <v-checkbox
                  v-model="mod.keep"
              ></v-checkbox>
            </td>
          </tr>
          </tbody>
        </template>
      </v-table>
      <v-pagination
          v-if="mods.length > packet"
          v-model="page"
          :length="pageLength"
          :total-visible="7 < mods.length/packet ? 7 : null"
          :prev-icon="icons.mdiMenuLeft"
          :next-icon="icons.mdiMenuRight"
      ></v-pagination>
      <v-overlay :model-value="loading" class="align-center justify-center">
        <v-progress-circular
            indeterminate
            size="128"
            color="info"
        >
          {{ progress.count }} / {{ progress.total }}
        </v-progress-circular>
      </v-overlay>
    </v-container>
  </v-fade-transition>
  <v-fade-transition>
    <mod-edit
        v-show="editor"
        :mod="editable"
        is-transfer
        @close="closeEditor"
    />
  </v-fade-transition>
  <v-dialog v-model="dialogMod.show">
    <v-card>
      <v-img :src="dialogMod.data.base64"></v-img>
      <v-card-title v-if="dialogMod.data">{{ dialogMod.data.name }}</v-card-title>
    </v-card>
  </v-dialog>
  <v-dialog v-model="dialogMod.info">
    <v-card>
      <v-card-title>{{ dialogMod.data }}</v-card-title>
    </v-card>
  </v-dialog>
</template>

<script>
import {
  mdiPackageVariant,
  mdiPackage,
  mdiMenuLeft,
  mdiMenuRight,
  mdiSync,
  mdiCheck,
  mdiImage,
  mdiOpenInNew,
  mdiSearchWeb,
  mdiDownloadBoxOutline,
  mdiTrashCanOutline,
  mdiSelectAll,
  mdiContentDuplicate,
  mdiArchive,
  mdiPen,
  mdiDownload,
  mdiSort,
  mdiSortAscending,
  mdiSortDescending
} from '@mdi/js';
import {formatBytes} from "../utils/easyUtils";
import ModEdit from "../components/ModEdit";

export default {
  name: "TransferView",
  emits: ['title', 'app:loading', 'app:theme'],
  components: {ModEdit},
  data: () => ({
    path: '',
    file: [],
    thead: ['Cover', 'Name', 'Category', 'Filename', 'Size', 'Duplicated', 'Actions', 'Keep'],
    sortingFields: ['Name', 'Filename', 'Size'],
    sortedField: {
      field: null,
      sort: 0,
    },
    sortStates: {
      0: null,
      1: 'desc',
      2: 'asc',
    },
    sortIcons: {
      0: mdiSort,
      1: mdiSortDescending,
      2: mdiSortAscending,
    },
    mods: [],
    originalMods: [],
    registeredMods: [],
    categories: [],
    isAllSelected: false,
    page: 1,
    packet: 10,
    pageLength: 0,
    editor: false,
    editable: undefined,
    dialogMod: {
      show: false,
      info: false,
    },
    loading: false,
    progress: {
      count: 0,
      total: 0,
    },
    openFilters: false,
    search: {
      text: '',
      duplicated: false,
    },
    icons: {
      mdiPackageVariant,
      mdiPackage,
      mdiMenuLeft,
      mdiMenuRight,
      mdiSync,
      mdiCheck,
      mdiImage,
      mdiOpenInNew,
      mdiSearchWeb,
      mdiDownloadBoxOutline,
      mdiTrashCanOutline,
      mdiSelectAll,
      mdiContentDuplicate,
      mdiArchive,
      mdiPen,
      mdiDownload
    },
    info: {
      duplicated: "The name and the filename already exist",
      probably: "One of the name or the filename already exists. You can check in the library with the search feature",
    }
  }),
  computed: {
    displayedMods() {
      let mods = (0 < this.sortedField.sort) ? this.mods : this.originalMods;
      if (this.search.duplicated) {
        mods = mods.filter(mod => 2 !== mod.isDuplicated);
      }
      if (2 < this.search.text.length) {
        const query = new RegExp(this.search.text, "ig");
        mods = mods.filter(mod => query.test(mod.name) || query.test(mod.filename));
      }
      if (
          null !== this.sortedField.field &&
          0 < this.sortedField.sort &&
          this.sortingFields.includes(this.sortedField.field)
      ) {
        const sort = (1 === this.sortedField.sort) ? this.descSort : this.ascSort;
        mods.sort(sort);
      }
      this.setPageLength(Math.ceil(mods.length/this.packet));
      return mods.slice((this.page-1)*this.packet, this.packet*this.page);
    },
    transferAllowed() {
      return -1 !== this.mods.findIndex(mod => true === mod.keep);
    },
    selectedModsCount() {
      return this.mods.filter(mod => mod.keep).length;
    }
  },
  watch: {
    'dialog.show'(val) {
      if (!val) {
        this.closeDialog();
      }
    }
  },
  mounted() {
    this.$emit('title', 'Library');
    this.$emit('app:loading', true);
    window.ipcRenderer.on('mods:sync', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Mods fail to sync'});
        this.loading = false;
        return;
      }
      const message = `${this.progress.count} mods synchronized! 🎉`;
      this.$store.dispatch('snackbar/display', {type: 'success', message});
      new Notification('Modbrary | Sync', {body: message})
      this.progress = {
        count: 0,
        total: 0
      };
      window.ipcRenderer.send('mods:fetch-all', {type: 'transfer'});
    })
    window.ipcRenderer.on('mods:sync-progress', (event, arg) => {
      this.progress = arg;
    });
    window.ipcRenderer.on('mods:fetch-all', (event, arg) => {
      if (!arg.success) {
        this.$emit('app:loading', false);
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Fetching mods fails!'});
        return;
      }
      if (arg.data.isDefault) {
        this.registeredMods = arg.data.mods;
        window.ipcRenderer.send('mods:fetch-all', {type: 'transfer'});
        return;
      }

      const mods = arg.data.mods;
      if (mods.length) {
        for (const mod of mods) {
          mod.keep = false;
          mod.isDuplicated = 0;
          this.registeredMods.map(registeredMod => {
            if (2 === mod.isDuplicated) return;
            if (registeredMod.name === mod.name && registeredMod.filename === mod.filename) {
              mod.isDuplicated = 2;
            } else if (registeredMod.name === mod.name || registeredMod.filename === mod.filename) {
              mod.isDuplicated = 1;
            }
          })
        }
        this.mods = mods;
        this.originalMods = mods;
        this.registeredMods = [];
        window.ipcRenderer.send('mods:fetch-image', {mods: arg.data.mods, type: 'transfer'});
      } else {
        this.$emit('app:loading', false);
      }
    });
    window.ipcRenderer.on('mods:fetch-image', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'warning', message: 'Fetching images failed!'});
      }
      this.mods = arg.data.mods;
      this.loading = false;
      this.$emit('app:loading', false);
    });
    window.ipcRenderer.on('categories:fetch', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'warning', message: 'Fetching categories failed!'});
        return;
      }
      this.categories = arg.data;
    });
    window.ipcRenderer.on('mods:transfer', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Transfer failed!'});
        return;
      }
      this.$emit('app:loading', false);
      this.$store.dispatch('snackbar/display', {type: 'success', message: `${arg.data.count} Mods are transferred successfully! 🎉`});
    });
    window.ipcRenderer.send('mods:fetch-all');
    window.ipcRenderer.send('categories:fetch');
  },
  unmounted() {
    window.ipcRenderer.off('mods:fetch-all');
    window.ipcRenderer.off('mods:fetch-image');
    window.ipcRenderer.off('mods:sync');
    window.ipcRenderer.off('mods:sync-progress');
    window.ipcRenderer.off('mods:transfer');
    window.ipcRenderer.off('categories:fetch');
  },
  methods: {
    sync() {
      this.loading = true;
      window.ipcRenderer.send('mods:sync', {path: this.path});
    },
    closeDialog() {
      this.dialogMod = {
        show: false,
        info: false,
      }
    },
    openDialog(data, type) {
      this.dialogMod = {
        show: 'show' === type,
        info: 'info' === type,
        data: data
      }
    },
    edit(mod) {
      this.editable = mod;
      this.editor = true;
    },
    closeEditor(mod) {
      if (mod) {
        this.editable.name = mod.name;
        this.editable.category = mod.category;
        this.editable.tags = mod.tags;
        this.editable.image = mod.image;
        this.editable.base64 = mod.base64;
      }
      this.editable = undefined;
      this.editor = false;
    },
    getCategoryName(cat) {
      const category = this.categories.find(category => category.uid === cat);
      if (category) {
        return category.name;
      }
    },
    setPageLength(val) {
      this.pageLength = val;
    },
    showFile(mod) {
      window.ipcRenderer.send('mod:show-file', {path: mod.path});
    },
    launchSearch(mod) {
      window.ipcRenderer.send('web-search:mod', {name: mod.name});
    },
    transfer() {
      this.$emit('app:loading', true);
      const mods = [];
      for (const mod of this.mods) {
        if (mod.keep) {
          delete mod.keep;
          delete mod.isDuplicated;
          const tags = [...mod.tags];
          const tmp = {...mod};
          tmp.tags = tags;
          mods.push(tmp);
        }
      }
      if (0 >= mods.length) {
        this.$store.dispatch('snackbar/display', {type: 'info', message: 'No mods to transfer'});
        return;
      }
      window.ipcRenderer.send('mods:transfer', {mods});
    },
    reset() {
      this.$emit('app:loading', true);
      window.ipcRenderer.send('mods:transfer-reset');
      setTimeout(() => {
        window.ipcRenderer.send('mods:fetch-all', {type: 'transfer'});
        this.path = '';
        this.$emit('app:loading', false);
      }, 1000)
    },
    toggleAll() {
      this.mods.forEach(mod => mod.keep = !this.isAllSelected);
      this.isAllSelected = !this.isAllSelected;
    },
    formatSize(mod) {
      return formatBytes(mod.size || 0);
    },
    selectPath() {
      const file = this.file[0];
      if (!file) {
        this.$store.dispatch('snackbar/display', {type: 'warning', message: 'This folder is empty'});
        return;
      }
      this.path = file.path.replace(file.name, '');
    },
    clickFolderPicker() {
      document.getElementById('folder-picker').click();
    },
    setSort(th) {
      if (!this.sortingFields.includes(th)) return;
      if (null !== this.sortedField.field && th !== this.sortedField.field) this.sortedField.sort = 0;
      (2 > this.sortedField.sort) ? this.sortedField.sort++ : this.sortedField.sort = 0;
      this.sortedField.field = (0 === this.sortedField.sort) ? null : th;
    },
    getSortingIcon(field) {
      return (this.sortedField.field === field) ? this.sortIcons[this.sortedField.sort] : this.sortIcons[0];
    },
    descSort(a, b) {
      const prop = this.sortedField.field.toLowerCase();
      if (b[prop] < a[prop]) {
        return -1;
      }
      if (b[prop] > a[prop]) {
        return 1;
      }
      return 0;
    },
    ascSort(a, b) {
      const prop = this.sortedField.field.toLowerCase();
      if (b[prop] > a[prop]) {
        return -1;
      }
      if (b[prop] < a[prop]) {
        return 1;
      }
      return 0;
    }
  }
}
</script>

<style lang="scss">
.fit-content {
  width: fit-content;
}
#filters-container {
  display: flex;
  align-items: center;
}
#folder-picker-container {
  display: none;
}
form i.v-icon {
  cursor: pointer;
}
</style>
