<template>
  <v-container fluid class="mt-1" id="category-create-view">
    <v-row justify="center">
      <v-card width="90%">
        <v-card-title>
          <span class="text-h5" v-if="mod">Add a new category</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-row>
              <v-col cols="12">
                <v-text-field
                    label="Name"
                    v-model="form.name"
                    autofocus
                    @keyup.enter="submit"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn
              text
              color="info"
              @click="$emit('close')"
          >
            Cancel
          </v-btn>
          <v-btn
              :disabled="!formIsValid"
              text
              color="success"
              @click="submit"
          >
            Submit
          </v-btn>
        </v-card-actions>
        <v-overlay :model-value="loading" class="align-center justify-center">
          <v-progress-circular
              indeterminate
              size="64"
          ></v-progress-circular>
        </v-overlay>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "CategoryCreate",
  props: {
    mod: Object
  },
  data () {
    return {
      form: {
        name: '',
      },
      loading: false,
    }
  },
  computed: {
    formIsValid () {
      return !!this.form.name
    },
  },
  created() {
    window.ipcRenderer.on('category:save', this.save);
  },
  unmounted() {
    this.form.name = '';
    window.ipcRenderer.off('category:save');
  },
  methods: {
    submit() {
      this.loading = true;
      window.ipcRenderer.send('category:save', this.form.name);
    },
    save(event, arg) {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Saving category fails!'});
        return;
      }
      this.loading = false;
      this.$store.dispatch('snackbar/display', {type: 'success', message: `Category "${this.form.name}" created! 🎉`});
      this.$emit('close', arg.data);
    }
  }
}
</script>

<style scoped lang="scss">
#category-create-view {
  min-width: 75%;
}
</style>
