<template>
  <router-link
      :to="to"
      custom
      v-slot="{ href, route, navigate, isActive }"
  >
    <v-list-item
        :prepend-icon="icon"
        :title="route.name"
        :value="route"
        :href="href"
        :active="isActive"
        @click="navigate"
    ></v-list-item>
  </router-link>
</template>

<script>
export default {
  name: "DrawerLink",
  props: {
    to: String,
    icon: String
  }
}
</script>

<style scoped>

</style>
