<template>
  <v-container fluid class="mt-1" id="mod-edit-view">
    <v-row justify="center">
      <v-card width="90%">
        <v-card-title>
          <span class="text-h5" v-if="mod">Edit: {{ mod.name }}</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-row>
              <v-col cols="12">
                <small>
                  The display name (different from the filename)
                  <span v-if="mod"><br>Filename: {{ mod.filename }}</span>
                </small>
                <v-text-field label="Name" v-model="form.name" :prepend-icon="icons.mdiText"></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-file-input
                    v-model="form.image"
                    accept="image/*"
                    placeholder="Pick an image"
                    label="Cover"
                    :prepend-icon="icons.mdiImage"
                ></v-file-input>
              </v-col>
            </v-row>
            <v-select
                v-model="form.category"
                :items="catsItems"
                label="Category"
                :prepend-icon="icons.mdiArchive"
                clearable
            ></v-select>
            <v-select
                v-model="form.tags"
                :items="tagsItems"
                label="Tags"
                multiple
                chips
                closable-chips
                :prepend-icon="icons.mdiTag"
                clearable
            ></v-select>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn
              text
              color="info"
              @click="$emit('close')"
          >
            Cancel
          </v-btn>
          <v-btn
              text
              color="success"
              @click="submit"
          >
            Submit
          </v-btn>
        </v-card-actions>
        <v-overlay :model-value="loading" class="align-center justify-center">
          <v-progress-circular
              indeterminate
              size="64"
          ></v-progress-circular>
        </v-overlay>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import {
  mdiImage,
  mdiTag,
  mdiArchive,
  mdiText
} from '@mdi/js';
export default {
  name: "ModEdit",
  props: {
    mod: Object,
    isTransfer: Boolean
  },
  data () {
    return {
      categories: [],
      catsItems: [],
      tags: [],
      tagsItems: [],
      form: {
        name: '',
        category: '',
        tags: [],
        image: [],
      },
      loading: false,
      icons: {
        mdiImage,
        mdiTag,
        mdiArchive,
        mdiText
      },
    }
  },
  created() {
    window.ipcRenderer.on('categories:fetch', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Fetching categories fails!'});
        return;
      }
      this.categories = arg.data;
      const categories = [];
      arg.data.forEach(cat => {
        categories.push(cat.name);
      })
      this.catsItems = categories;
      this.loading = false;
    });
    window.ipcRenderer.on('tags:fetch', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Fetching tags fails!'});
        return;
      }
      this.tags = arg.data;
      const tags = [];
      arg.data.forEach(tag => {
        tags.push(tag.name);
      })
      this.tagsItems = tags;
      this.loading = false;
    });
    window.ipcRenderer.on('mod:edit', this.edit);
    this.loading = true;
    window.ipcRenderer.send('categories:fetch');
    window.ipcRenderer.send('tags:fetch');
  },
  updated() {
    if (this.mod) {
      this.form.name = this.mod.name;
      const cat = this.categories.find(cat => this.mod.category === cat.uid);
      if (cat) {
        this.form.category = cat.name;
      }
      const tags = [];
      for (const tag of this.tags) {
        if (this.mod.tags.includes(tag.uid)) {
          tags.push(tag.name);
        }
      }
      this.form.tags = tags;
    } else {
      this.form.name = '';
      this.form.category = '';
      this.form.tags = [];
      this.form.image = [];
    }
  },
  unmounted() {
    window.ipcRenderer.off('tags:fetch');
    window.ipcRenderer.off('categories:fetch');
    window.ipcRenderer.off('mod:edit');
  },
  methods: {
    submit() {
      this.loading = true;
      let image;
      if (this.form.image.length) {
        image = this.form.image[0].path;
      }

      const mod = Object.assign({}, this.mod);
      mod.name = this.form.name || mod.name;

      const cat = this.categories.find(cat => this.form.category === cat.name);
      if (cat) {
        mod.category = cat.uid;
      }

      const tags = [];
      for (const tag of this.tags) {
        if (this.form.tags.includes(tag.name)) {
          tags.push(tag.uid);
        }
      }

      mod.tags = tags;
      mod.sync = null;

      window.ipcRenderer.send('mod:edit', {mod, image, isDefault: !this.isTransfer});
    },
    edit(event, arg) {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Editing mod fails!'});
        return;
      }
      this.loading = false;
      this.$store.dispatch('snackbar/display', {
        type: 'success',
        message: `Mod "${this.form.name}" edited ! 🎉`,
        closable: true
      });
      this.$emit('close', arg.data.mod);
    }
  }
}
</script>
