<template>
  <v-row>
    <v-col cols="12" class="custom-select">
      <div class="select" tabindex="1">
        <div>
          <input
              class="options-select"
              name="selectors"
              type="radio"
              :id="label"
              value=""
              :checked="!value"
              @change="this.$emit('update:value', '')"
          >
          <label :for="label" class="option">Category</label>
        </div>
        <div v-for="item in items" :key="item.uid">
          <input
              class="options-select"
              name="selectors"
              type="radio"
              :id="item.uid"
              :value="item.uid"
              :checked="value === item.uid"
              @change="this.$emit('update:value', item.uid)"
          >
          <label :for="item.uid" class="option">{{ item.name }}</label>
        </div>
      </div>
      <div class="v-input__details"><div class="v-messages"></div></div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "SelectInput",
  props: {
    items: Array,
    label: String,
    value: String,
  },
}
</script>

<style scoped lang="scss">
.custom-select {
  .select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 50px;
  }

    .option {
      border-radius: 5px 5px 0 0;
      border-bottom: 1px solid #757575;
      padding:0 30px 0 10px;
      min-height:50px;
      display:flex;
      align-items:center;
      background: #2f2f2f;
      position:absolute;
      top:0;
      width: 100%;
      pointer-events:none;
      order:2;
      z-index:1;
      transition:background .4s ease-in-out;
      box-sizing:border-box;
      overflow:hidden;
      white-space:nowrap;
    }

    .option:hover {
      background: #757575;
    }

    .select:focus .option {
      position:relative;
      pointer-events:all;
    }

    input {
      opacity:0;
      position:absolute;
      left:-99999px;
    }

    input:checked + label {
      order: 1;
      z-index:2;
      border-top:none;
      position:relative;
      color: white;
    }

    input:checked + label:after {
      content:'';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid white;
      position:absolute;
      right:10px;
      top:calc(50% - 2.5px);
      pointer-events:none;
      z-index:3;
    }

    input:checked + label:before {
      position: absolute;
      right:0;
      height: 60px;
      width: 60px;
      content: '';
      background: transparent;
    }
}
</style>
