<template>
  <v-snackbar
      v-model="snackbar.active"
      variant="outlined"
      :color="snackbar.color"
      bottom
      timeout="8000"
      @close="reset"
  >
    {{ snackbar.message }}
    <template v-slot:actions v-if="snackbar.closable || snackbar.link">
      <v-btn
          v-if="snackbar.link"
          color="indigo"
          text
          @click="followLink"
          :icon="icons.link"
      >
      </v-btn>
      <v-btn
          v-if="snackbar.closable"
          color="red"
          text
          @click="reset"
          :icon="icons.close"
      >
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import {mapState, mapActions} from 'vuex';
import {mdiClose, mdiOpenInApp} from '@mdi/js';

export default {
  name: "SnackBar",
  data: () => ({
    icons: {
      close: mdiClose,
      link: mdiOpenInApp,
    }
  }),
  computed: {
    ...mapState({
      snackbar: state => state.snackbar
    })
  },
  methods: {
    ...mapActions('snackbar', ['reset']),
    followLink() {
      this.$router.push({name: this.snackbar.link});
      this.reset();
    }
  }
}
</script>
