<template>
  <v-pagination
      v-if="length > packet"
      :model-value="page"
      :length="Math.ceil(length/packet)"
      :total-visible="7 < length/packet ? 7 : null"
      :prev-icon="mdiMenuLeft"
      :next-icon="mdiMenuRight"
  ></v-pagination>
</template>

<script>
import { mdiMenuLeft, mdiMenuRight } from '@mdi/js';
export default {
  name: "TablePagination",
  props: {
    length: Number,
    page: Number,
    packet: Number,
  },
  data: () => ({
    mdiMenuLeft,
    mdiMenuRight
  })
}
</script>

<style scoped>

</style>
