<template>
  <v-app :theme="theme">
    <v-layout>
      <v-app-bar fixed>
        <v-btn disabled>
          <v-img :src="logo" height="30"></v-img>
        </v-btn>
        <v-app-bar-title>Modbrary | {{ title }}</v-app-bar-title>
      </v-app-bar>
      <v-navigation-drawer
          expand-on-hover
          rail
          permanent
      >
        <v-list density="compact" nav>
          <drawer-link
              v-for="route in $router.getRoutes()"
              :key="route.name"
              :to="route.path"
              :icon="route.meta.icon"
          />
        </v-list>
      </v-navigation-drawer>
      <v-main>
        <router-view
            @title="title = $event"
            @app:loading="loading = $event"
            @app:theme="theme = $event"
        />
        <snack-bar />
      </v-main>
    </v-layout>
    <v-overlay :model-value="loading" class="align-center justify-center">
      <v-progress-circular
          indeterminate
          size="128"
          color="error"
      ></v-progress-circular>
    </v-overlay>
  </v-app>
</template>

<script>
import DrawerLink from "@/components/DrawerLink";
import logo from '@/assets/modbrary.png'
import { ref } from 'vue'
import SnackBar from "./components/SnackBar";

export default {
  setup() {
    const theme = ref('dark');
    return {
      theme,
    }
  },
  name: 'App',
  components: {SnackBar, DrawerLink},
  data: () => ({
    loading: false,
    title: '',
    logo: logo,
  }),
  beforeCreate() {
    this.loading = true;
    window.ipcRenderer.send('app:setup');
    window.ipcRenderer.on('app:setup', (event, arg) => {
      if (!arg.success) {
        this.$store.dispatch('snackbar/display', {type: 'error', message: 'Setup app failed'});
      }
      this.loading = false;
    });
  },
}
</script>
